.auth-page {
  background-color: #eaeded;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.auth-card {
  width: 350px;
  background: white;
  padding: 20px 26px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.auth-card h2 {
  font-weight: 400;
  margin-bottom: 15px;
}

.auth-card label {
  font-size: 13px;
  font-weight: 700;
  display: block;
  margin-bottom: 4px;
}

.auth-card input {
  width: 100%;
  height: 31px;
  padding: 3px 7px;
  margin-bottom: 14px;
  border: 1px solid #a6a6a6;
  border-radius: 3px;
}

.auth-btn {
  width: 100%;
  height: 31px;
  background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
  border: 1px solid #a88734;
  border-radius: 3px;
  cursor: pointer;
}
